* {
    box-sizing: border-box;
    margin: 0;
    border: 0;
    /* border: 1px solid red; */
}

:root {
    --h2TextSize: 4rem;
    --colorPurple: hsl(276, 91%, 18%);
    --colorPink: #FF66FF;
    --scaleFont: "scale-variable", sans-serif;

}

html {
    overflow: hidden;
    z-index: -1000;
    display: flex;
    justify-content: center;
}

body {
    display: block;

    z-index: -500;
    background-color: var(--colorPurple);
    font-family: "trade-gothic-next", sans-serif;
    font-weight: 300;
    font-style: normal;
    height: 100dvh;
    width: 100%;
    max-width: 2400px;
    scroll-snap-type: y mandatory;
    overflow-x: hidden;
    overflow-y: scroll;
}



.main-container {
    position: relative;
    scroll-snap-align: start;
    display: grid;
    grid-template-rows: 30% 2fr 1fr 60px;
    justify-content: stretch;
    height: 100%;
    width: 100%;
    justify-items: center;
    flex-direction: column;
    overflow: visible;
    /* background-color: bisque; */
    z-index: -1000;
    transition: grid-template-rows 1s;
}

.main-container.player-won-height-extension {
    grid-template-rows: 50% 2fr 1fr 60px;
}

.main-container--page2 {
    display: block;
    position: relative;
    padding: 70px 20px 20px;
    overflow-x: hidden;
    background-color: #f72585;
}

.page2__circle-wrapper {
    display: block;
    position: absolute;
    margin: 0px -20px -20px;
    top: 0px;
    height: 100%;
    width: 100%;
    z-index: -100;
}

.page2__circle__header-container {
    display: flex;
    position: absolute;
    top: -5%;
    left: 50%;
    align-items: start;
    justify-content: end;
    text-align: center;
    width: 50%;
    height: 50%;
    transition: all 2s;
}

.header__letter-div {
    position: absolute;
    display: flex;
    justify-content: center;
    height: 100%;
}

.header__letter-div1 {
    align-items: end;
    padding-bottom: 6px;
    width: fit-content;
    text-align: center;
    color:#360458;
}

.header__letter-div2 {
    align-items: start;
}

.page2__circle__header-circle {
    display: flex;
    position: relative;
    font-size: 1.75rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #000000;
    border-radius: 50%;
    width: 25%;
    height: 120%;
    border: 2px solid #7209b7;
    transition: font-size 2s;
    animation: rotate-circle 20s infinite linear;
}

@keyframes rotate-circle {
    from {
        rotate: 0deg;
    }

    to {
        rotate: 360deg;
    }
}

.page2__circle__header-inner-circle {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80%;
    width: 40%;
    border: 1px solid #3a0ca3;
    border-radius: 50%;
    rotate: 45deg;
    animation: inner-circle-rotate 10s infinite linear;
}

@keyframes inner-circle-rotate {
    from {
        rotate: 0deg;
        width: 40%;
    }
    50% {
        width: 80%;
    }
    to {
        rotate: 360deg;
        width: 40%;
    }
}

.page2__circle__center-circle {
    position: absolute;
    width: 75%;
    height: 55%;
    border-radius: 50%;
    border: 6px solid #4361ee;
    animation: inner-circle-blob 2s infinite alternate-reverse;
}

.page2__circle__center-circle3 {
    border-color: #4cc9f0;
    border-width: 3px;
    animation-delay: .5s;
}

.page2__circle__center-circle2 {
    border-color: #7209b7;
    width: 45%;
    height: 45%;
    rotate: 90deg;
    border-width: 4px;
    animation-delay: 1s;
}
.page2__circle__center-circle4 {
    width: 45%;
    height: 45%;
    rotate: 90deg;
    border-width: 4px;
}
.page2__circle__center-circle5 {
    width: 10px;
    height: 10px;
    animation: none;
}

.page2__circle__center-dott {
    position: absolute;
    border-radius: 50%;
    height: 4px;
    width: 4px;
    background-color: #7209b7;
}

.page2__circle__header-circle, .page2__circle__header-inner-circle, .page2__circle__center-circle, 
.page2__circle__center-circle2, .page2__circle__center-circle3, .page2__circle__center-circle4, 
.page2__circle__center-circle5 {
    border-color:  #4361ee;
}

@keyframes inner-circle-blob {
    to {
        height: 0%;
        border-width: 1px;
    }
}

.page2__header-container {
    font-family: var(--scaleFont);
    font-variation-settings: "wght"400, "wdth"90;
    font-size: 1.2rem;
}

.page2text--rps-game {
    color: #3a0ca3;
    font-variation-settings: "wght"700, "wdth"90;
    color: #7209b7;
    margin: 10px 0px;
}
.page2text--rps-game span {
    color: #000000;
    font-variation-settings: "wght"300, "wdth"90;
}

.page2__header {
    justify-self: start;
    text-align: start;
}

.page2text-by-me {
    font-family: antonia-variable, sans-serif;
    font-style: italic;
    font-variation-settings: "opsz" 28, "wght" 300;
    font-size: .75rem;
}

.byText {
    font-variation-settings: "opsz" 28, "wght" 600;
}

.page2text-intro {
    position: absolute;
    max-width: 1400px;
    font-family: antonia-variable, sans-serif;
    font-style: italic;
    font-variation-settings: "opsz" 28, "wght" 300;
    line-height: .9rem;
    font-size: .6rem;
    margin: 30px 70% 0px 0px;
    padding-right: 10px;
    text-indent: 5px;
    hyphens: auto;
    hyphenate-limit-chars: 5 3 3;
}



.page2__content-grid {
    flex: 1;
    display: grid;
    align-content: start;
    gap: 20px;
    margin: 0px 0px 0px 30%;
    position: relative;
    grid-template-rows: repeat(auto-fit, 1fr);
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    width: auto;
}

.page2__content__grid-item {
    position: relative;
    display: flex;
    justify-content: end;
    flex-direction: column;
    padding-top: 10px;
}

.grid-number {
    padding-top: 15px;
    margin-bottom: -10px;
    font-family: var(--scaleFont);
    font-size: 3.5rem;
    font-variation-settings: "wght"900, "wdth"90;
    overflow: hidden;
    transition: all .5s;
    pointer-events: none;
}


.number-thin {
    font-size: 2rem;
    font-variation-settings: "wght"300, "wdth"25;
}
.number-thin.exp {
    position: relative;
    /* top: -25px; */
    font-size: 2rem;
    font-variation-settings: "wght"300, "wdth"25;
    /* background-color: #360458; */
    
}
.number-thin.dott {
    margin: 0px -2px;
}
.number-thin.dott-right {
    margin-right: -5px;
}

.grid-number.hover {
    color: #7209b7;
    font-variation-settings: "wght"900, "wdth"75;
}

.grid-text {
    font-family: var(--scaleFont);
    font-size: .75rem;
    font-variation-settings: "wght"300, "wdth"90;
    transition: font-variation-settings 1s;
    pointer-events: none;
    text-wrap: nowrap;
}

.grid-text.hover {
    font-variation-settings: "wght"600, "wdth"90;
}

.grid-text-hidden {
    display: block;
    background-color: #f72585;
    color: #3a0ca3;
    position: absolute;
    left: 15%;
    font-family: antonia-variable, sans-serif;
    font-style: regular;
    font-variation-settings: "opsz" 48, "wght" 600;
    font-size: .75rem;
    line-height: 1rem;
    padding: 5px 5px 10px 5px;
    overflow: hidden;
    height: 0px;
    opacity: 0;
    transition: height, opacity, font-variation-settings;
    transition-delay: 0 0 1;
    z-index: 100;
    border-left: 1px solid black;
    pointer-events: none;
}

.grid-text-hidden.hover {
    opacity: 1;
    font-variation-settings: "opsz" 48, "wght" 900;
    height: auto;
    z-index: 100;
}

.page2text-the-odin-project span {
    font-variation-settings: "wght"600, "wdth"90;
}

.page2__footer {
    display: flex;
    justify-self: end;
    align-items: center;
    border-top: 1px solid black;
    height: 50px;
    width: 100%;
    margin-top: 100px;
    padding-right: 25%;
}

.page2__footer-text-container {

    font-size: .6rem;
    font-style: italic;

}

.main-container__fraction {
    width: 80%;
}

.top-area {
    position: relative;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 60px;
    flex: .75;
    overflow: hidden;
    z-index: -500;
    transition: flex 1s;
}

.top-area.player-won-height-extension {
    flex: 1;
}

.top-area__border-wrapper {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 0% 0px 0% 0px 50% 0px 50%;
    transition: all .2s ease-out;
}


.top-area__border {
    display: block;
    border-bottom: 1px solid white;
}

.top-area__border--gap {
    border-bottom: none;
}

.top-area__border-right {
    transform-origin: right;
}

.top-area__border.opacity1 {
    opacity: 1;
}

.score-container {
    display: block;
    color: #4cc9f0;
    width: 100%;
}

.current-score-para {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    opacity: 1;
    width: 50%;
    height: 100%;
    overflow: hidden;
    text-wrap: nowrap;
    transition: width .5s;
}

.current-score-para span {
    display: flex;
    overflow: hidden;
    transition: width .2s;
}

.current-score-para span.no-trans {
    transition: none;
}

.current-score__headline {
    display: inline-block;
    width: fit-content;
}


.current-score__player-span, .current-score__cpu-span {
    display: inline-block;
    width: fit-content;
}

.current-score-para span.zero-width {
    width: 0;
}

.current-score__span-number {
    margin-left: 5px;
}

.current-score__headline {
    font-weight: 600;

}

.current-score-para.zero-width {
    width: 0px;
}

.score-container p {
    text-align: left;
}

.top-area--wrapper {
    display: flex;
    justify-content: end;
    position: relative;
    padding: 0 20px;
    top: 20px;
    transition: top 1s, opacity 1s;
    opacity: 1;
    overflow: hidden;
}

.top-area--wrapper.justify-content-center {
    justify-content: center;
}

.top-area--wrapper.no-transition {
    transition: none;
}

.top-area--wrapper.show-rounds {
    opacity: 1;
    top: 0px;
}


.top-area__text-container {
    display: flex;
    position: relative;
    color: white;
    padding: 0 4px;
    font-weight: 600;
    width: fit-content;
    vertical-align: bottom;
    font-size: .8rem;
    overflow: visible;
}

.top-area__text-container__hi-there {
    justify-self: center;
}

.top-area__text-container__hi-there--cpu-won {
    background-color: rgba(114, 9, 183, 0);
}

.top-area__text-container__number {
    display: block;
    position: relative;
    top: 0px;
    width: 12px;
    transform: translateY(0);
    transition: transform 0s;
}

.top-area__text-container__number.slide-up {
    transition: transform .75s cubic-bezier(.05, 1, .94, 1.58);
}

.top-area__text-container__number.slide-up-round1 {
    transition: transform .75s 1s cubic-bezier(.05, 1, .94, 1.58);
}

.top-area__text-container span {
    opacity: 1;
}

.top-area__text-container.padding-top, .top-area__text-container__number.padding-top {
    padding-top: 2px;
}

.top-area__text-container span.hidden,
.top-area__text-container div.hidden {
    display: none;
}

/* Center Area */

.center-area {
    display: flex;
    position: relative;
    flex: .5;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    padding: 10px 0px 0px 0px;
    overflow: visible;
    pointer-events: none;
}

h1 {
    font-family: "scale-variable", sans-serif;
    font-variation-settings: "wght"300, "wdth"96;
    text-align: center;
    font-size: 2em;
}

h2 {
    font-family: "scale-variable", sans-serif;
    font-variation-settings: "wght"200, "wdth"75;
    font-size: 2em;
}

.center-area__h2Text-container {
    position: relative;
    display: flex;
    height: 100px;
    justify-content: center;
    align-items: center;
    overflow: visible;
}

.center-area__h2Text {
    display: flex;
    color: #f72585;
    position: relative;
    gap: 8px;
    justify-content: center;
    text-wrap: nowrap;
    opacity: 1;
}

.center-area__h2Text__vs-container {
    color: hsl(333, 93%, 66%);
    font-family: "scale-variable", sans-serif;
    font-variation-settings: "wght"600, "wdth"100;
    font-size: calc(var(--h2TextSize) * .4);
}

.center-area__h2Text.font-5rem {
    font-size: 5rem;
    gap: 10px;
}

.center-area__h2Text.black {
    color: rgb(255, 255, 255);
}

.center-area__h2Text.h2Text-fade-in {
    animation: h2FadeIn 2s;
}

@keyframes h2FadeIn {
    from {
        opacity: 0;
    }

    20% {
        opacity: 0;
    }
}

.center-area__h2Text--wayOffLeft {
    left: 0px;
    animation: way-of-left .5s cubic-bezier(.26, .25, .41, 1.33);
}

@keyframes way-of-left {
    from {
        left: -1000px;
    }
}

.center-area__h2Text>div {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.center-area__h2Text>div>span.bold-anim {
    display: block;
    position: absolute;
    text-align: center;
    animation: bold-choice 1.5s;
    animation-delay: .5s;
}

.center-area__h2Text>div>span.bold-anim-double {
    animation: bold-choice-double 1.5s ease-in-out;
    animation-delay: 0.25s;
}

.center-area__h2Text>div>span.vs-anim {
    animation: vs-anim 1.5s ease-in-out;
    animation-delay: .5s;
}

.center-area__h2Text>div>span.bold-anim.with-after::after {
    position: absolute;
    font-size: 200%;
    color: #f72585;
    opacity: 0;
    left: -50%;
    top: -50%;
    animation: opacity .75s ease-in-out;
    animation-delay: .75s;
}

.center-area__h2Text>div>span.bold-anim.bold-anim-double.with-after::after {
    animation: opacity .75s ease-in-out;
    animation-delay: .5s;
}

@keyframes opacity {
    50% {
        opacity: .15;
    }
}

.center-area__h2Text>div>span.bold-anim.with-after.rock::after {
    content: "Rock";
}

span.bold-anim.with-after.paper::after {
    content: "Paper";
}

span.bold-anim.with-after.scissor::after {
    content: "Scissor";
}

@keyframes bold-choice {
    25% {
        font-size: 18px;
    }

    50% {
        z-index: 200;
        color: #ffffff;
        font-size: 6rem;
        font-variation-settings: "wght"500, "wdth"125;
    }
}

@keyframes bold-choice-double {
    25% {
        font-size: 18px;
    }

    50% {
        z-index: 200;
        color: #FFFFFF;
        font-size: 6rem;
        font-variation-settings: "wght"500, "wdth"75;
    }
}

@keyframes vs-anim {
    50% {
        color: #FFFFFF;
        font-size: 18px;
        font-variation-settings: "wght"200, "wdth"50;
    }
}

.center-area__h1Text-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    transform-style: preserve-3d;
    perspective: 700px;
}

.center-area__h1Text--background {
    display: block;
    position: absolute;
    width: 90%;
    background-color: rgba(0, 0, 0, 0.2);
    height: 60px;
    mix-blend-mode: difference;
    z-index: -10;
}

.center-area__h1Text {
    display: flex;
    font-size: 1em;
    justify-content: center;
    align-items: center;
    color: rgba(76, 201, 240, 1);
    position: relative;
    gap: 7px;
    width: 100%;
    background-color: var(--colorPurple);
    height: 60px;
    transition: height 3s;
    width: 90%;
    z-index: 1000;
    transition: color 2s, background-color 1s;
}

.center-area__h1Text.color-fade {
    color: rgba(76, 201, 240, .1);
}

.center-area__h1Text.cpu-won {
    background-color: rgba(54, 4, 88, 0);
    transition: background-color 1s;
}

.center-area__h1Text.with-margins {
    margin: 0 40px 0 40px;
}

.center-area__h1Text--rotate-in {
    animation: flipH1Text .5s linear forwards;
}

.center-area__h1Text--rotate-in--part2 {
    animation-name: flipH1TextPart2;
    animation-timing-function: linear forwards;
    transform: rotate3d(0, 1, 0, -90deg);
}

.center-area__h1Text--rotate-in-cpuWon {
    animation: flipH1TextCpuWon .5s linear forwards;
}

.center-area__h1Text--rotate-in--cpuWon-part2 {
    animation-name: flipH1TextCpuWonPart2;
    animation-timing-function: linear forwards;
    background-color: rgba(0, 0, 0, .5);
}

@keyframes flipH1Text {
    from {
        transform: rotate3d(0, 0, 0, 0deg);
        background-color: hsl(276, 91%, 18%);
    }

    25% {
        background-color: hsl(276, 91%, 18%);
    }

    to {
        transform: rotate3d(0, 1, 0, 90deg);
        background-color: hsl(276, 91%, 28%);
    }
}

@keyframes flipH1TextPart2 {
    from {
        transform: rotate3d(0, 1, 0, -90deg);
        background-color: hsl(276, 91%, 28%);
    }

    75% {
        background-color: hsl(276, 91%, 18%);
    }

    to {
        transform: rotate3d(0, 0, 0, 0deg);
        background-color: hsl(276, 91%, 18%);
    }
}

@keyframes flipH1TextCpuWon {
    from {
        transform: rotate3d(0, 0, 0, 0deg);
        background-color: rgba(84, 6, 136, 1);

    }

    to {
        transform: rotate3d(0, 1, 0, 90deg);
        background-color: rgba(84, 6, 136, .25);
    }
}

@keyframes flipH1TextCpuWonPart2 {
    from {
        background-color: rgba(84, 6, 136, .25);
        transform: rotate3d(0, 1, 0, -90deg);
    }

    to {
        background-color: rgba(84, 6, 136, 0);
        transform: rotate3d(0, 0, 0, 0deg);
    }
}

.center-area__h1Text-rpsAllText {
    opacity: 0;
    font-size: 1.6rem;
    animation: rpsFadeIn .5s forwards;
    transition: font-size .2s;
}

@keyframes rpsFadeIn {
    0% {
        opacity: 0;
    }

    20% {
        opacity: .5;
    }

    25% {
        opacity: .75;
        font-variation-settings: "wght"900, "wdth"96;
    }

    100% {
        opacity: 1;
    }
}

.center-area__h1Canvas-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 500;
    opacity: .5;
    pointer-events: none;
}

.btn-container {
    display: flex;
    justify-content: center;
    flex: 0.5;
    z-index: -10;
}

.btn-wrapper-all {
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
    gap: 15px;
    transform-origin: center;
    transition: width .2s ease-out;
    padding: 20px 0px;
}

.btn-wrapper-all.zero-width {
    overflow: hidden;
    width: 0%;
}


.btn-wrapper-all button {
    position: relative;
    font-family: trade-gothic-next, sans-serif;
    font-weight: 300;
    font-size: 1em;
    color: white;
    height: 100%;
    border-radius: 8px;
    padding: .2em .2em .4em .2em;
    background-color: hsl(276, 91%, 35%);
    width: 100%;
    transform-origin: center;
    text-wrap: nowrap;
    cursor: pointer;
    overflow: hidden;
    transition: all .3s;
}

.btn-wrapper-all button.hovered {
    color: #f72585;
    background-color: hsl(276, 91%, 40%);
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, .1);
    scale: 105%;
}

.btn-wrapper-all button.active,
.btn-wrapper-all button.lets-play.active,
.btn-wrapper-all button.lets-play.play-again.active {
    background-color: rgba(255, 255, 255, .6);
    scale: 100%;
}

.btn-wrapper-all button.lets-play {
    width: 60%;
    overflow: hidden;
    transition: all .3s, width .1s ease-out;

}

.btn-wrapper-all button.lets-play.zero-width {
    width: 0%;
    display: none;
}

.btn-wrapper-all button.lets-play.play-again {
    background-color: rgba(136, 10, 219, .5);
    filter: blur(30);
}

.btn-wrapper-all button.btn-fade-out-and-back {
    pointer-events: none;
    animation: fade-out-and-back 4s ease-out;
}

.btn-wrapper-all button.btn-fade-out-and-back.slower {
    animation: fade-out-and-back-slower 4s ease-out;
}

@keyframes fade-out-and-back {
    from {
        opacity: 1;
    }

    10% {
        opacity: 0;
    }

    50% {
        opacity: 0;
    }

    75% {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fade-out-and-back-slower {
    from {
        opacity: 1;
    }

    10% {
        opacity: 1;
    }

    25% {
        opacity: 0;
    }

    50% {
        opacity: 0;
    }

    75% {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.bottom-area {
    display: flex;
    padding-top: 6px;
    justify-content: end;
}

.footer-text {
    font-size: .5rem;
    color: rgba(255, 255, 255, 0);
    transition: color 5s;

}

.footer-text.light-up {
    color: rgba(247, 38, 132, .1);
    animation: color-bounce 2s ease-out 2s infinite alternate;
}

@keyframes color-bounce {
    to {
        color: rgba(247, 38, 132, 1);

    }
}

@keyframes slideIn {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(0%);
    }
}

.canvas-wrapper-all {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    z-index: -500;
    opacity: 1;
    overflow: hidden;
    pointer-events: none;
    transition: opacity 1s ease-out;
}

.canvas-wrapper-all-trans {
    transition: opacity 1s ease-out;
}

.canvas-wrapper-all.zero-opacity {
    opacity: 0;
}

.canvas-container {
    display: flex;

    width: 105%;
    height: 105%;
    position: absolute;
    filter: contrast(30);
}

.canvas-container canvas {
    position: relative;
    width: 100%;
    transform-origin: center;
    z-index: 20;
}

#drip__canvas {
    display: block;
    filter: blur(10px);
    background-color: black;
}

#drip-tip__canvas {
    display: block;
    z-index: 22;
    filter: blur(5px);
}

.fireworks-container {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    pointer-events: none;

}

#svg-container {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -100;
    width: 100%;
    height: 100%;
}

.fireworks-path {
    fill: none;
    stroke-width: 2;
    transition: stroke-dashoffset, stroke-width;
}

.fireworks-boom {
    opacity: 0;
}

.mod {
    fill: white;
    opacity: 100%;
}

.explosion-container {
    display: block;
    position: absolute;
    transform: translate(-50%, -50%);
    height: 0px;
    width: 0px;
    z-index: 20;
    border-radius: 50%;
    transition: height 2s, width 2s;
}

.explosion-container div.zero-width {
    width: 0px;
}

.explosion-container__one-burst-container {
    position: absolute;
    display: flex;
    height: 1px;
    width: 60px;
    left: 50%;
    top: 50%;
    transform-origin: left;
    transition: width 2s;
}

.one-burst__center-piece {
    background-color: rgba(0, 0, 0, 0);
    flex: 0;
}

.one-burst__center-piece.anim {
    animation: centerBurstPush 2s ease-in forwards;
}

@keyframes centerBurstPush {
    0% {
        flex: 0;
    }

    50% {
        flex: .5;
    }

    100% {
        flex: 1;
    }
}

.one-burst__tip-piece {
    background-color: blueviolet;
    flex: .5;
}

.one-burst__tip-piece.anim {
    animation: burstTip 3s ease-out forwards;
}

@keyframes burstTip {
    0% {
        flex: 1;
    }

    50% {
        flex: .05;
    }

    75% {
        flex: 0;
    }

    80% {
        flex: .1;
    }

    85% {
        flex: 0;
    }

    90% {
        flex: .01;
    }

    100% {
        flex: 0;
    }
}



.fireworks-boom-container {
    display: block;
    position: absolute;
    transform: translate(-50%, -50%);
    transform-origin: 0% 0%;
    height: 0;
    width: 0;
    border-radius: 50%;
    background: radial-gradient(circle, rgba(25, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0) 100%);
    transition: height 2s, width 2s;
}

.fireworks-boom-container::after {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(255, 255, 255);
    height: 1px;
    width: 1px;
    z-index: 1000;
    transition: height 2s, width 2s;
}

.fireworks-boom-container.with-after::after {
    background-color: rgb(255, 255, 255);
    height: 0px;
    width: 0px;
}


@keyframes rotate {
    to {
        rotate: 360deg;
    }
}

.fireworks-boom-container div {
    position: absolute;
    z-index: -100;
    height: 60px;
    width: 1px;
    background: linear-gradient(to top, rgba(25, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0) 100%);
    left: 50%;
    top: 50%;
    transform-origin: top;
    transition: height 2s;
}

.fireworks-boom-container div.firediv-zero-height {
    height: 0px;
    background: linear-gradient(to top, rgba(25, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 20%, rgba(255, 255, 255, 0) 100%);

}

.one-boom-container {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: -200;

}

.one-boom-container div {
    position: absolute;
    z-index: -100;
    height: 60px;
    width: 10px;
    background: linear-gradient(to top, rgba(25, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0) 100%);
    left: 50%;
    top: 50%;
    transform-origin: top;
    transition: height 2s;
}

.one-boom-container div.firediv-zero-height {
    height: 20px;
    background: linear-gradient(to top, rgba(25, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 20%, rgba(255, 255, 255, 0) 100%);

}

@media (max-width: 460px) {
    h2 {
        font-size: 1.6rem;
    }

    .score-container {
        font-size: 1.25rem;
    }

    .center-area__h2Text-container {
        height: 75px;
    }

    .center-area__h2Text.font-5rem {
        font-size: calc(var(--h2TextSize) * 0.65);
        gap: 8px;
    }

    @keyframes bold-choice {
        25% {
            font-size: calc(var(--h2TextSize) * 0.25);
        }

        50% {
            z-index: 200;
            color: #FFFFFF;
            font-size: var(--h2TextSize);
            font-variation-settings: "wght"500, "wdth"125;
        }
    }

    @keyframes bold-choice-double {
        25% {
            font-size: calc(var(--h2TextSize) * 0.25);
        }

        50% {
            z-index: 200;
            color: #FFFFFF;
            font-size: var(--h2TextSize);
            font-variation-settings: "wght"500, "wdth"75;
        }
    }
    .page2__circle__header-container.left {
        left: -30%;
        top: 90%;
    }
}

@media (min-width: 461px) {
    .page2__content-grid {
        margin-left: 0;
        grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
    }
    .grid-number{
        padding-top: 40px;
        font-size: 4rem;
    }
    .grid-text {
        font-size: 1rem;
    }
    .page2__circle__header-container.left {
        left: 50%;
        top: 110%;
    }
    .page2text-intro {
        position: relative;
        font-size: .65rem;
        margin: 10px 0px -30px 0px;
        text-indent: 10px;

    }
}

@media (max-width: 600px) {
    .page2text--rps-game {
        margin: 5px 25% 5px 0px;
    }

}

@media (min-width: 600px) {
    .main-container--page2{
    padding: 100px 40px 40px;
    }
    .page2text--rps-game{
        font-size: 4rem;
        padding-right: 15%;
    }
    .page2__content-grid {
        margin-left: 0px;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }
    .grid-number{
        padding-top: 70px;
        font-size: 5rem;
    }
    .grid-text {
    font-size: 1.3rem;
    }
    .grid-text-hidden {
    font-size: 1rem;
    line-height: 1.25rem;
    }
    .page2text-intro {
        font-size: .75rem;
    }
    .number-thin {
        font-size: 3rem;
    }
    .page2text-intro {
        font-size: .8rem;
        line-height: 1.2rem;
        text-indent: 12px;

    }
}

@media (min-width: 769px) {
    .page2text--rps-game {
        font-size: 5rem;
        padding-right: 25%;
    }
    .page2text-intro {
        font-size: 1rem;
        line-height: 1.5rem;
        text-indent: 15px;

    }
}



@media (min-width: 461px) and (max-width: 768px) {
    .center-area__h1Text-rpsAllText {
        font-size: 2.2rem;
    }

    .center-area__h1Text, .center-area__h1Text--background {
        width: 95%;
    }

    .score-container {
        font-size: 1.25rem;
    }

    .center-area__h2Text-container {
        height: 100px;
    }

    .center-area__h2Text.font-5rem {
        font-size: calc(var(--h2TextSize) * 0.75);
        gap: 8px;
    }

    .center-area__h2Text__vs-container {
        font-size: calc(var(--h2TextSize) * .5);
    }

    @keyframes bold-choice {
        25% {
            font-size: calc(var(--h2TextSize) * 0.25);
        }

        50% {
            z-index: 200;
            color: #FFFFFF;
            font-size: var(--h2TextSize);
            font-variation-settings: "wght"500, "wdth"125;
        }
    }

    @keyframes bold-choice-double {
        25% {
            font-size: calc(var(--h2TextSize) * 0.25);
        }

        50% {
            z-index: 200;
            color: #FFFFFF;
            font-size: var(--h2TextSize);
            font-variation-settings: "wght"500, "wdth"75;
        }
    }
}



@media (min-width: 601px) and (max-width: 1024px) {
    .center-area__h1Text-rpsAllText {
        font-size: 2.4rem;
    }

    .center-area__h1Text--background, .center-area__h1Text {
        width: 70%;
    }

    .score-container {
        font-size: 2rem;
    }

    .center-area__h2Text-container {
        height: 100px;
    }

    .center-area__h2Text.font-5rem {
        font-size: calc(var(--h2TextSize) * 0.8);
        gap: 9px;
    }

    .center-area__h2Text__vs-container {
        font-size: calc(var(--h2TextSize) * .6);
    }

    @keyframes bold-choice {
        25% {
            font-size: 18px;
        }

        50% {
            z-index: 200;
            color: #FFFFFF;
            font-size: 5rem;
            font-variation-settings: "wght"500, "wdth"125;
        }
    }

    @keyframes bold-choice-double {
        25% {
            font-size: 18px;
        }

        50% {
            z-index: 200;
            color: #FFFFFF;
            font-size: 5rem;
            font-variation-settings: "wght"500, "wdth"75;
        }
    }
}

@media (min-width: 900px) {
    .page2__circle__header-circle {
        font-size: 2rem;
    }
    .header__letter-div1 {
        padding-bottom: 15px;
    }
    .page2__circle__header-container {
        top: -5%;
        left: 30%;
    }
    .page2__content-grid {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }
}

@media (min-width: 1025px) {
    .center-area__h1Text-rpsAllText {
        font-size: 2.8rem;
    }

    .center-area__h2Text.font-5rem {
        font-size: calc(var(--h2TextSize));
        gap: 9px;
    }

    .center-area__h2Text__vs-container {
        font-size: calc(var(--h2TextSize) * .7);
    }

    .score-container {
        font-size: 2.2rem;
    }

    .center-area__h1Text--background, .center-area__h1Text {
        width: 60%;
    }
    .center-area__h1Text, .center-area__h1Text--background {
        font-size: 1.5rem;
        height: 100px;
    }

}

@media (min-width: 1240px) {
    .page2text-intro {
        padding-right: 180px;
        hyphens: none;
    }
}

@media (min-width: 1400px) {
    .center-area {
        padding-top: 60px;
    }
    .center-area__h1Text-container {
        padding-top: 40px;
    }
    .btn-wrapper-all {
        gap: 25px;
        width: 75%;
    }
    .bottom-area {
        padding-right: 10%;
    }
}

@media (min-width: 1600px) {
    .center-area {
        padding-top: 80px;
    }
    /* .center-area__h1Text-container {
        padding-top: 60px;
    } */
}